
*.hmap

*.hmap

*.xcuserstate

*.DS_Store

SimpleImageFilter/build/

SimpleImageFilter/SimpleImageFilter/build/GPUImage.build/Debug-iphonesimulator/GPUImage.build/GPUImage.hmap

SimpleImageFilter/SimpleImageFilter/build/GPUImage.build/Debug-iphonesimulator/GPUImage.build/GPUImage-project-headers.hmap

SimpleImageFilter/SimpleImageFilter/build/GPUImage.build/Debug-iphonesimulator/GPUImage.build/GPUImage-own-target-headers.hmap

SimpleImageFilter/SimpleImageFilter/build/GPUImage.build/Debug-iphonesimulator/GPUImage.build/GPUImage-all-target-headers.hmap

SimpleImageFilter/SimpleImageFilter.xcodeproj/project.xcworkspace/xcuserdata/CHIRAG.xcuserdatad/UserInterfaceState.xcuserstate

SimpleImageFilter/build/Debug-iphonesimulator/SimpleImageFilter.app.dSYM/Contents/Info.plist


SimpleImageFilter/build/Debug-iphonesimulator/.DS_Store

SimpleImageFilter/build/Debug-iphonesimulator/SimpleImageFilter.app/SimpleImageFilter

SimpleImageFilter/.DS_Store

SimpleImageFilter/build/.DS_Store

.DS_Store
